@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  width: 100vw;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.m-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  background: #77C216;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
  color: #FFFFFF;
  position: relative;
  &.transparent {
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    background-color: transparent;
    color: #2F2F2F;
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 47px;
      height: 2px;
      background-color: #6FB90F;
    }
  }
  @media #{$mmedia-lg} {
    padding: 10px 15px;
  }
}

.button-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a {
    margin-right: 16px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #77C216;
  border: 1px solid #77C216;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 9px 12px;
  margin-top: 16px;
  cursor: pointer;

  svg {
    margin-left: 8px;
    transition: all 0.5s ease;
  }

  &:hover {
    svg {
      margin-left: 16px;
    }
  }
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #FFFFFF;
  background: #77C216;
  border-radius: 24px;
  padding: 13px 24px;
  margin-top: 8px;
  cursor: pointer;

  svg {
    margin-left: 8px;
    transition: all 0.5s ease;
  }

  &:hover {
    svg {
      margin-left: 15px;
    }
  }
}

.register-wrap {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.lr-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  padding: 40px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .caption {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 1.3;
    color: #77C216;
    margin-bottom: 30px;
  }

  label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2;
    color: #A3A3A3;
  }

  input {
    background: #F5F5F5;
    border-radius: 2px 16px 16px 16px;
    width: 100%;
    height: 48px;
    padding: 13px;
    box-sizing: border-box;
    margin-bottom: 24px;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.4;
    color: #A3A3A3;
    margin-top: 12px;
  }
}

.overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.6);
}

.divider {
  margin: 32px 0;
  width: 100%;
  height: 1px;
  background-color: #F5F5F5;
}

.gos-button {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.4;
  color: #FFFFFF;
  background: linear-gradient(62.09deg, #1466AC 0%, #EF4058 100%);
  border-radius: 24px;
  transition: all 2s ease;

  &:hover {
    background: linear-gradient(62.09deg, #EF4058  0%, #1466AC 100%);
  }

  svg {
    margin-right: 8px;
  }
}

.form-hint {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.1;
  text-align: center;
  color: #A3A3A3;
  margin-bottom: 12px;
  display: block;
  width: 100%;
}

.form-close {
  top: 4px;
  right: 0;
  transform: translateX(120%);
  position: absolute;
  cursor: pointer;
}

.page-header {
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 120px;
  padding-left: 10px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .text-block {
    display: flex;

    h1 {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 1.2;
      color: #2F2F2F;
      margin-right: 80px;
    }
  }
}

